---
import './style.scss'
import telegramLogo from './TelegramLogo.svg'
import thumbnailImage from './thumbnail.jpg'

const title = 'בוט שיתוף ציבור'
const description = 'ערוץ טלגרם לשיתופי ציבור בתל אביב יפו'
const imageUrl = new URL(thumbnailImage, Astro.site).toString()
---

<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <meta name='description' content={description} />

    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta property='og:image' content={imageUrl} />
    <meta property='og:description' content={description} />
    <meta property='og:title' content={title} />

    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@danfishgold' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={imageUrl} />
  </head>
  <body dir='rtl'>
    <header>
      <h1>{description}</h1>
      <p class='subtitle'>לא רשמי ועל כן עלול להכיל בדיחות</p>
    </header>
    <div class='introduction'>
      <p>
        אין לכם כוח להיכנס ל<a
          href='https://www.tel-aviv.gov.il/Transparency/Pages/Share.aspx'
          >אתר העיריה</a
        >
        כל פעם? מפחדים שתפספסו טוט של
        <a href='https://tooot.im/@abaleh'>אבא׳לה</a>? רוצים לריב עם נימביסטים
        בשעות הערב המוקדמות?
      </p>
      <p>הפתרון לחלק מהבעיות שלכם כבר כאן!</p>
    </div>

    <div class='phone-wrapper' aria-label=''>
      <div class='phone-overlay'>
        <div class='phone-frame'>
          <div class='top-phone-part'>
            <div class='notch-bar'>
              <div>9:41</div>
              <div></div>
              <div></div>
              <div></div>
              <div>
                <div class='reception-icon'>
                  <div class='reception-icon-bar'></div>
                  <div class='reception-icon-bar'></div>
                  <div class='reception-icon-bar'></div>
                  <div class='reception-icon-bar'></div>
                </div>
                <div class='wifi-icon'></div>
                <div class='battery-icon'></div>
              </div>
            </div>
            <div class='title-bar'>
              <div class='back-button'></div>
              <span>שיתופי ציבור בתל אביב יפו</span>
              <div class='channel-icon'>
                <div><span>מכוניות</span></div>
              </div>
            </div>
          </div>
          <div class='spacer'></div>
          <div class='bottom-phone-part'>
            <div class='mute-thing'>Mute</div>
            <div class='home-indicator'></div>
          </div>
        </div>
        <div class='top-cta-container'>
          <a class='cta top-cta' href='https://t.me/+oCV4nu8jRwM0MDM0'
            >הצטרפו לערוץ<img src={telegramLogo} alt='' /></a
          >
        </div>
      </div>
      <div class='phone-content'>
        <div class='message'>
          <img
            src='https://www.tel-aviv.gov.il/StockImages/תנועה%20וחנייה18.jpg'
          />
          <span>
            <strong>מפגש מקוון: תחבורה ציבורית בצפון-מזרח</strong>
            <br />
            מרחב קהילתי צפון מזרח מזמין אותך למפגש בנושא תחבורה ציבורית באזור, בו
            נדון בשינויי התחבורה שחלו בשנה האחרונה ובצרכים העתידיים
            <br />
            • יום שלישי, 9 באוגוסט, 18:00
            <br />
            •
            <a
              href='https://www.tel-aviv.gov.il/Pages/MainItemPage.aspx?WebID=3af57d92-807c-43c5-8d5f-6fd455eb2776&ListID=969f7de3-0ac9-4a30-88f0-2e1a7281f3d0&ItemID=33162'
              >פרטים נוספים באתר העיריה</a
            >
            <br />
            • <a href='https://www.coing.co/u/75b9b76de9'>הרשמה למפגש</a></span
          >
        </div>
        <div class='message'>
          <img
            src='https://tel-aviv.gov.il/digitelimages2020/eb3870b1907e45a584125d9bbb97ee43.jpg'
          />
          <span>
            <strong>מפגש ציבור - הקמת גשר אינשטיין</strong>
            <br />
            ביום רביעי בשעה 18:00 יתקיים מפגש הסברה מקוון לקראת תחילת העבודות להקמת
            גשר אינשטיין, שיחבר בין שכונת ל' לנופי ים דרך רחוב יובל נאמן
            <br />
            • יום רביעי, 6 ביולי, 18:00
            <br />
            •
            <a
              href='https://www.tel-aviv.gov.il/Pages/MainItemPage.aspx?WebID=3af57d92-807c-43c5-8d5f-6fd455eb2776&ListID=969f7de3-0ac9-4a30-88f0-2e1a7281f3d0&ItemID=33300'
              >פרטים נוספים באתר העיריה</a
            ></span
          >
        </div>
        <div class='message'>
          <img
            src='https://tel-aviv.gov.il/StockImages/עבודות%20תחבורה17.jpg'
          />
          <span>
            <strong>שיתוף ציבור - שביל אופניים ברחוב יפת</strong>
            <br />
            ביום שני בשעות 19:30-18:00 יתקיים מפגש שיתוף ציבור מקוון בו יוצגו כמה
            חלופות לביצוע שביל האופניים ברחוב יפת בקטע שבין רחוב צבי צור לרחוב שמחה
            הולצברג
            <br />
            • יום שני, 4 ביולי, 18:00
            <br />
            •
            <a
              href='https://www.tel-aviv.gov.il/Pages/MainItemPage.aspx?WebID=3af57d92-807c-43c5-8d5f-6fd455eb2776&ListID=969f7de3-0ac9-4a30-88f0-2e1a7281f3d0&ItemID=33422'
              >פרטים נוספים באתר העיריה</a
            ></span
          >
        </div>
      </div>
    </div>

    <div>
      <h2>שאלות ותשובות</h2>
      <h3>מאיפה המידע?</h3>
      <p>
        הישר מ<a
          href='https://www.tel-aviv.gov.il/Transparency/Pages/Share.aspx'
          >אתר העיריה</a
        >! הבוט דוגם את האתר כל שעה וברגע שיש אירוע חדש הוא מדווח בערוץ.
      </p>
      <h3>איזה הודעות יישלחו בערוץ?</h3>
      <p>
        הודעות על אירועים חדשים, הודעות על עדכון פרטים של אירועים (כמו שינוי
        תאריך או שינוי לינק להרשמה) ותזכורות בבוקר של כל אירוע.
      </p>
      <h3>למה הערוץ הזה קיים?</h3>
      <p>
        כי לפני כמה שבועות פספסתי מפגש ממש מעניין ונמאס לי שאין לי דרך נוחה
        לגלות על אירועים של העיריה.
      </p>
      <h3>מה אבא׳לה חושב על זה?</h3>
      <p>״טוב שיהיו כמה שיותר ערוצי יידוע.״</p>
      <h3>הקוד של האתר/הבוט זמין איפשהו?</h3>
      <p>
        הקוד הזה קצת מודבק עם סקוצ׳ אז לא ממש בא לי לעשות אותו פומבי. אם אתם
        מאוד סקרנים תשלחו לי הודעה בטוויטר או משהו ואני אספר לכם עוד.
      </p>
      <h3>יש את זה גם ב RSS?</h3>
      <p>
        אם שלושה אנשים שהם לא עדו קליין יבקשו ממני לעשות לזה פיד RSS אני אעשה את
        זה (או כנראה <a href='https://www.jsonfeed.org'>JSON Feed</a>).
      </p>
      <h3>יש לך את זה ביותר נישתי?</h3>
      <p><a href='https://emoji-poetry.danfishgold.com'>כן</a>.</p>
      <h3>איך מצטרפים לערוץ?</h3>
      <a class='cta bottom-cta' href='https://t.me/+oCV4nu8jRwM0MDM0'
        >הצטרפו לערוץ<img src={telegramLogo} alt='' /></a
      >
    </div>
    <p class='signature'>באהבה, <a href='https://dan.city'>דן</a></p>
  </body>
</html>
